footer {
  width: 100%;
  height: 8rem;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logoi {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5rem;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
}

.partners {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel {
  height: 200px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .carousel {
    width: 400px;
    height: 200px;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: darkgray; /* Kolor tła (czarny) */
  /* Dodatkowe style (opcjonalne) */
  border-radius: 50%; /* Zaokrąglenie kształtu ikony */
  /* Inne właściwości stylu według potrzeb */
}
