footer {
  width: 100%;
  height: 8rem;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-img-top {
  max-height: 150px;
}
.second {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.cards {
  flex-direction: column;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Dodaj klasę, która zresetuje efekt dla elementów, które są widoczne */
.visible {
  opacity: 1;
  transform: translateY(0);
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #f9f9f9;
  }
  .aboutHeader {
    transform: translateY(-350%);
  }
  .about {
    transform: translateY(-20%);

    width: 60%;
    font-size: 1.3rem;
  }
  footer {
    width: 100%;
    height: 8.5rem;
  }
  .cards {
    flex-direction: row;
    gap: 50px;
  }
  .second {
    height: 60vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .activeHr {
    display: none;
  }
}
